body {
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.nav-item {
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 3px solid #e87676;
}
.contact-us {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.card {
  margin: 50px;
  border: 2px solid #e87676;
  padding: 10px;
  background-color: #bededd;
  cursor: pointer;
  transition: 0.6s ease;
}
.contact-us .card:hover {
  background-color: #fff0e3;
  transform: translateY(-10px);
}
.contact-us .card h3 {
  text-transform: uppercase;
  font-weight: bold;
}
.contact-us .card div {
  font-size: 1.3em;
  margin-top: 10px;
  margin-bottom: 10px;
}
